mat-grid-tile {
  background: lightblue;
}

.radio-group-column-layout {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


.rom-bank-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#controls-area {
  margin-top: 20px;
}
