<google-chart
  [data]="vicBank0Chart"></google-chart>

<google-chart
  [data]="vicBank1Chart"></google-chart>

<google-chart
  [data]="vicBank2Chart"></google-chart>

<google-chart
  [data]="vicBank3Chart"></google-chart>

<mat-grid-list cols="6" rowHeight="200px" id="controls-area">
    <mat-grid-tile>
        <mat-grid-tile-header>VIC-II Bank Select</mat-grid-tile-header>
        <mat-radio-group
            [(ngModel)]="vicBank">

            <mat-radio-button [value]="0">Bank 0</mat-radio-button>
            <mat-radio-button [value]="1">Bank 1</mat-radio-button>
            <mat-radio-button [value]="2">Bank 2</mat-radio-button>
            <mat-radio-button [value]="3">Bank 3</mat-radio-button>
        </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>Programming Language</mat-grid-tile-header>
        <mat-radio-group
            id="asm-vs-basic-radio-group"
            [(ngModel)]="programmingLanguage">

            <mat-radio-button
              [value]="'ASM'"
              (change)="onAssemblyModeSelected()">6502/6510 Assembly</mat-radio-button>
            <mat-radio-button
              [value]="'BASIC'"
              (change)="onBasicModeSelected()">C64 BASIC</mat-radio-button>
        </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-grid-tile-header>Misc ROM Options</mat-grid-tile-header>
        <div class="rom-bank-options">
            <mat-slide-toggle
                [(ngModel)]="useKernelRom"
                [disabled]="basicMode||useBasicRom"
                (change)="onUseKernelRomSelectionChanged()">

                Use KERNEL ROM</mat-slide-toggle>

            <mat-slide-toggle
                [(ngModel)]="useBasicRom"
                [disabled]="basicMode"
                (change)="onUseBasicRomSelectionChanged()">

                Use BASIC ROM</mat-slide-toggle>

            <mat-slide-toggle [(ngModel)]="useCartRomLo">Use CART ROM LO ($8000-$9FFF)</mat-slide-toggle>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>CART ROM HI Options</mat-grid-tile-header>
        <div class="rom-bank-options">
            <div>
                <mat-radio-group
                    [(ngModel)]="cartRomHi">
                    <mat-radio-button [value]="'unmapped'">unmapped</mat-radio-button>
                    <mat-radio-button
                        [value]="'bankA'"
                        [disabled]="useKernelRom">$A000-$BFFF</mat-radio-button>
                    <mat-radio-button [value]="'bankE'">$E000-$FFFF</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>$D000-$DFFF Mapping</mat-grid-tile-header>
        <div class="rom-bank-options">
            <div>
                <mat-radio-group
                    [(ngModel)]="dBankMap">
                    <mat-radio-button [value]="'IO'">I/O</mat-radio-button>
                    <mat-radio-button [value]="'CHAR_ROM'">CHAR ROM</mat-radio-button>
                    <mat-radio-button [value]="'RAM'">RAM</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="1" rowHeight="200px" id="output-area">
  <mat-grid-tile>
        <mat-grid-tile-header>Computed Values</mat-grid-tile-header>
        various hex-values, such as the what should go into $0001 in order to select the proper ROM banks, will update and display here
    </mat-grid-tile>
</mat-grid-list>
