
<google-chart
  [data]="vicBank0Chart"></google-chart>


<google-chart
  [data]="vicBank1Chart"></google-chart>

<google-chart
  [data]="vicBank2Chart"></google-chart>

<google-chart
  [data]="vicBank3Chart"></google-chart>

<mat-grid-list cols="3" rowHeight="150px" id="controls-area">



    <mat-grid-tile>
        <mat-grid-tile-header>Start Here: Cartridge ROM</mat-grid-tile-header>

            <mat-radio-group
              id="cartRomSelector"
              class="radio-group-column-layout"
              [disabled]="false"
              [(ngModel)]="useCartRom"
              (change)="onCartRomChanged()">
              <mat-radio-button
                [value]="false">No Cartridge ROM
                  </mat-radio-button>
              <mat-radio-button
                [value]="true">Use Cartridge ROM</mat-radio-button>
            </mat-radio-group>



    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
        <mat-grid-tile-header>VIC-II Options</mat-grid-tile-header>
        <mat-form-field appearance="fill">
          <mat-label>VIC-II Bank</mat-label>
          <mat-select
              id="vic-banks"
              [(ngModel)]="vicBank">

              <mat-option [value]="0">Bank 0</mat-option>
              <mat-option [value]="1">Bank 1</mat-option>
              <mat-option [value]="2">Bank 2</mat-option>
              <mat-option [value]="3">Bank 3</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Screen RAM at:</mat-label>
          <mat-select
            id="screen-ram-location"
            [(ngModel)]="screenRamLocation">

            <mat-option
              *ngFor="let a of SCREEN_RAM_LOCATIONS; index as i"
              [value]="a">
              {{ a }} (${{ (vicBank*16384 + a*1024).toString(16) }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Character set at:</mat-label>
          <mat-select
            id="charset-ram-location"
            [(ngModel)]="charsetRamLocation">

            <mat-option
              *ngFor="let c of CHAR_RAM_LOCATIONS; index as i"
              [value]="c">
              {{ c }} (${{ (vicBank*16384 + c*2048).toString(16) }})
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <mat-grid-tile-header>Bank Mode(s)</mat-grid-tile-header>

      <mat-table
        [dataSource]="bankModesDataSource"
        class="mat-elevation-z8 vert-scrollable">

        <ng-container matColumnDef="modeNumber">
          <mat-header-cell *matHeaderCellDef> Mode# </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="charem">
          <mat-header-cell *matHeaderCellDef> CHAREN </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.charen }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hiram">
          <mat-header-cell *matHeaderCellDef> HIRAM </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.hiram }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loram">
          <mat-header-cell *matHeaderCellDef> LORAM </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.loram }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="asInt">
          <mat-header-cell *matHeaderCellDef> As int </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.asInt() }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-grid-tile>

    <mat-grid-tile>
      <div *ngIf="useCartRom; then useCartRomBlock else noCartRomBlock">

            </div>

            <ng-template #useCartRomBlock>
              <mat-grid-tile-header>CART ROM HI Options</mat-grid-tile-header>
              <mat-radio-group
              id="cart-rom-config"
              class="radio-group-column-layout"
              [(ngModel)]="cartRomConfig"
              (change)="onCartRomHiOptionsChanged()">
                <mat-radio-button
                  [value]="NO_CART_ROM_HI">No CART ROM HI</mat-radio-button>
                <mat-radio-button
                  [value]="CART_ROM_HI_BANK_A">CART ROM HI: $A000-$BFFF</mat-radio-button>
                <mat-radio-button
                  [value]="CART_ROM_HI_BANK_E">CART ROM HI: $E000-$FFFF</mat-radio-button>
              </mat-radio-group>
            </ng-template>

            <ng-template #noCartRomBlock>
                <mat-grid-tile-header>BASIC/KERNAL Options</mat-grid-tile-header>
                <mat-radio-group
                id="basic-and-kernal-selection"
                class="radio-group-column-layout"
                [(ngModel)]="kernalConfig"
                (change)="onBasicKernalOptionsChanged()">

                  <mat-radio-button
                    [value]="BASIC_AND_KERNAL">BASIC and KERNAL</mat-radio-button>
                  <mat-radio-button
                    [value]="KERNAL_ONLY">KERNAL only</mat-radio-button>
                  <mat-radio-button
                    [value]="NO_BASIC_OR_KERNAL">No BASIC or KERNAL</mat-radio-button>
                </mat-radio-group>
            </ng-template>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>$D000-$DFFF Options</mat-grid-tile-header>
      <mat-radio-group
        id="bankD-options"
        class="radio-group-column-layout"
        [disabled]="cartRomConfig==this.CART_ROM_HI_BANK_E"
        [(ngModel)]="bankDConfig"
        (change)="onD000ToDfffOptionsChanged()">
        <mat-radio-button
          [value]="IO">I/O</mat-radio-button>
        <mat-radio-button
          [value]="CHAR_ROM">Character ROM</mat-radio-button>
        <mat-radio-button
          [disabled]="!((!useCartRom)&&(kernalConfig==NO_BASIC_OR_KERNAL))"
          [value]="RAM">RAM</mat-radio-button>
      </mat-radio-group>

    </mat-grid-tile>


</mat-grid-list>
