
<google-chart
  [data]="vicBank0Chart"></google-chart>


<google-chart
  [data]="vicBank1Chart"></google-chart>

<google-chart
  [data]="vicBank2Chart"></google-chart>

<google-chart
  [data]="vicBank3Chart"></google-chart>

<mat-grid-list cols="5" rowHeight="190px" id="controls-area">
    <mat-grid-tile>
        <mat-grid-tile-header>VIC-II Bank</mat-grid-tile-header>
        <mat-radio-group
            [(ngModel)]="vicBank">

            <mat-radio-button [value]="0">Bank 0</mat-radio-button>
            <mat-radio-button [value]="1">Bank 1</mat-radio-button>
            <mat-radio-button [value]="2">Bank 2</mat-radio-button>
            <mat-radio-button [value]="3">Bank 3</mat-radio-button>
        </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>Bank $8000-$9FFF</mat-grid-tile-header>
      <div class="rom-bank-options">
        <mat-radio-group
            id="bank8"
            [(ngModel)]="bank8">
            <mat-radio-button [value]="'RAM'">RAM</mat-radio-button>
            <mat-radio-button [value]="'CART_ROM_LO'">CART ROM LO</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>Bank $A000-$BFFF</mat-grid-tile-header>
        <div class="rom-bank-options">
          <div *ngIf="bankE=='CART_ROM_HI'; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <p>
              Not available in this configuration.
            </p>
          </ng-template>
          <ng-template #elseBlock>
            <mat-radio-group
                id="bankA"
                [(ngModel)]="bankA"
                (change)="onBankAChanged()">
                <mat-radio-button [value]="'BASIC_ROM'">BASIC ROM</mat-radio-button>
                <mat-radio-button [value]="'RAM'">RAM</mat-radio-button>
                <mat-radio-button [value]="'CART_ROM_HI'">CART ROM HI</mat-radio-button>
            </mat-radio-group>
        </ng-template>

        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>Bank $D000-$DFFF</mat-grid-tile-header>
        <div class="rom-bank-options">
          <mat-radio-group
              id="bankD"
              [(ngModel)]="bankD">
              <mat-radio-button [value]="'IO'">I/O</mat-radio-button>
              <mat-radio-button [value]="'CHAR_ROM'">CHAR ROM</mat-radio-button>
              <mat-radio-button 
                [disabled]="bankA=='BASIC_ROM'"
                [value]="'RAM'">RAM</mat-radio-button>
          </mat-radio-group>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>Bank $E000-$FFFF</mat-grid-tile-header>
        <div class="rom-bank-options">
          <mat-radio-group
              id="bankE"
              [disabled]="bankA=='BASIC_ROM'"
              [(ngModel)]="bankE"
              (change)="onBankEChanged()">
              <mat-radio-button
                [value]="'KERNAL_ROM'">KERNAL ROM</mat-radio-button>
              <mat-radio-button
                [value]="'CART_ROM_HI'">CART ROM HI</mat-radio-button>
              <mat-radio-button
                [value]="'RAM'">RAM</mat-radio-button>
          </mat-radio-group>
        </div>
    </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="1" rowHeight="200px" id="output-area">
    <mat-grid-tile>
      <mat-grid-tile-header>Bank Mode(s)</mat-grid-tile-header>
      <pre>
      Mode#: {{ bankMode.id }}
      _CHAREN {{ bankMode.charen }}
      _HIRAM  {{ bankMode.hiram }}
      _LORAM  {{ bankMode.loram }}
      As int: {{ bankMode.asInt() }} (bitwise-and with the PLA)</pre>
    </mat-grid-tile>
</mat-grid-list>
